{% extends "Layout/base.html" %}
{% block content %}
  {% load static %}
    <section class="hero-wrap hero-wrap-2" style="background-image: url('{% static 'images/bg-2.jpg' %}')" data-stellar-background-ratio="0.5">
      <div class="overlay"></div>
      <div class="container">
        <div class="row no-gutters slider-text js-fullheight align-items-end justify-content-center">
          <div class="col-md-9 ftco-animate pb-5">
            <h2 class="mb-0 bread">Blog</h2>
            <p class="breadcrumbs"><span class="mr-2"><a href="{%url 'HomePage' %}">Home <i class="ion-ios-arrow-forward"></i></a></span> <span>Blog <i class="ion-ios-arrow-forward"></i></span></p>
          </div>
        </div>
      </div>
    </section>
    
    <section class="ftco-section ftco-degree-bg">
      <div class="container">
		  
			
        
      <div class="row">

        <div class="col-lg-8 ftco-animate">
			      
			    <div class="row">
              {% for post in posts  %}
				    <div class="col-md-12 d-flex ftco-animate">
		            <div class="blog-entry align-self-stretch d-md-flex">
                  <a href="{%url 'SingleBlogPage' post.id %}" class="block-20 video-background-overlay" style="background-image: url('{{post.media.url}}')"></a>
                  
		              <div class="text d-block pl-md-4">
		              	<div class="meta mb-3">
		                  <div><a href="#">{{post.date}}</a></div>
		                  <div><a href="#">Admin</a></div>
						          <div><a href="#" class="meta-chat"><span class="icon-heart"></span> {{post.like}}</a></div>
		                </div>
		                <h3 class="heading"><a href="#">{{post.titre}}</a></h3>
		                <p style="height:200px" style="overflow:hidden">{{post.description}}</p>
						        <a href="{%url 'SingleBlogPage'  post.id  %}" class="btn btn-primary py-2 px-3" >Read more</a>
		              </div>
                </div>
                
              </div>
              {% endfor %}
			      </div>
		         
				      <div class="row mt-5">
		          <div class="col">
		            <div class="block-27">
		              {% if posts.has_other_pages %}
                    <ul class="pagination">
                      {% if posts.has_previous %}
                        <li><a href="?page={{ posts.previous_page_number }}">&laquo;</a></li>
                      {% else %}
                        <li class="disabled"><span>&laquo;</span></li>
                      {% endif %}
                      {% for i in posts.paginator.page_range %}
                        {% if users.number == i %}
                          <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
                        {% else %}
                          <li><a href="?page={{ i }}">{{ i }}</a></li>
                        {% endif %}
                      {% endfor %}
                      {% if posts.has_next %}
                        <li><a href="?page={{ posts.next_page_number }}">&raquo;</a></li>
                      {% else %}
                        <li class="disabled"><span>&raquo;</span></li>
                      {% endif %}
                    </ul>
                  {% endif %}
		            </div>
		          </div>
            </div>
            
          </div> <!-- .col-md-8 -->
          <div class="col-lg-4 sidebar ftco-animate">
            <div class="sidebar-box">
              <form action="#" class="search-form">
                <div class="form-group">
                  <span class="icon ion-ios-search"></span>
                  <input type="text" class="form-control" placeholder="Type a keyword and hit enter">
                </div>
              </form>
            </div>
            <div class="sidebar-box ftco-animate">
            	<h3 class="heading-2">Categories</h3>
              <ul class="categories">
                <li><a href="{%url 'Steps' %}">Makeup steps <span>{{count1}}</span></a></li>
                <li><a href="{% url 'BlackSkin'%}">Makeup peau noire <span>{{count2}}</span></a></li>
                <li><a href="{% url 'WhiteSkin'%}">Makeup peau claire <span>{{count3}}</span></a></li>
                <li><a href="{%url 'Soft' %}">Makeup soft <span>{{count4}}</span></a></li>
                <li><a href="{% url 'Soiree' %}">Makeup soirée <span>{{count5}}</span></a></li>
                <li><a href="{% url 'Conseils' %}">Conseils Beauté <span>{{count6}}</span></a></li>  
              </ul>
            </div>

            <div class="sidebar-box ftco-animate">
              <h3 class="heading-2">Recent Blog</h3>
              
              {% for last_three in last_threes  %}
              <div class="block-21 mb-4 d-flex">
                <a class="blog-img mr-4" style="background-image: url('{{last_three.media.url}}')"></a>
                <div class="text">
                  <h3 class="heading-1"><a href="{% url 'SingleBlogPage' last_three.id %}">{{last_three.titre}}</a></h3>
                  <div class="meta">
                    <div><a href="#"><span class="icon-calendar"></span> {{last_three.date}}</a></div>
                    <div><a href="#"><span class="icon-person"></span> Admin</a></div>
                    <div><a href="#"><span class="icon-heart"></span> {{last_three.like}}</a></div>
                  </div>
                </div>
              </div>
              {% endfor %}
                
              
              
			      
            <div class="sidebar-box ftco-animate">
              <h3 class="heading-2">Tag Cloud</h3>
              <div class="tagcloud">
                <a href="#" class="tag-cloud-link">donate</a>
                <a href="#" class="tag-cloud-link">charity</a>
                <a href="#" class="tag-cloud-link">non-profit</a>
                <a href="#" class="tag-cloud-link">organization</a>
                <a href="#" class="tag-cloud-link">child</a>
                <a href="#" class="tag-cloud-link">abuse</a>
                <a href="#" class="tag-cloud-link">help</a>
                <a href="#" class="tag-cloud-link">volunteer</a>
              </div>
            </div>

            <div class="sidebar-box ftco-animate">
              <h3 class="heading-2">Paragraph</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus itaque, autem necessitatibus voluptate quod mollitia delectus aut, sunt placeat nam vero culpa sapiente consectetur similique, inventore eos fugit cupiditate numquam!</p>
            </div>
          </div>

        </div>
      </div>
    </section> <!-- .section -->
{% endblock content %}