{% extends "Layout/base.html" %}
{% block content %}
  {% load static %} 

    <section class="hero-wrap hero-wrap-2" style="background-image: url('{% static 'images/bg-2.jpg' %}')" data-stellar-background-ratio="0.5">
      <div class="overlay"></div>
      <div class="container">
        <div class="row no-gutters slider-text js-fullheight align-items-end justify-content-center">
          <div class="col-md-9 ftco-animate pb-5">
            <h2 class="mb-0 bread">Services</h2>
            <p class="breadcrumbs"><span class="mr-2"><a href="{%url 'HomePage' %}">Home <i class="ion-ios-arrow-forward"></i></a></span> <span>Services <i class="ion-ios-arrow-forward"></i></span></p>
          </div>
        </div>
      </div>
    </section>
    
    <section class="services-section py-5 py-md-0 bg-light">
      <div class="container">
        <div class="row no-gutters d-flex">
          <div class="col-md-6 col-lg-3 d-flex align-self-stretch ftco-animate">
            <div class="media block-6 services d-block">
              <div class="icon"><span class="flaticon-makeup"></span></div>
              <div class="media-body">
                <h3 class="heading mb-3">Makeup</h3>
                <p>	203 Fake St. Mountain View, San Francisco, California, USA</p>
              </div>
            </div>      
          </div>
          <div class="col-md-6 col-lg-3 d-flex align-self-stretch ftco-animate">
            <div class="media block-6 services d-block">
              <div class="icon"><span class="flaticon-flower"></span></div>
              <div class="media-body">
                <h3 class="heading mb-3">Hair Styling</h3>
                <p>A small river named Duden flows by their place and supplies.</p>
              </div>
            </div>    
          </div>
          <div class="col-md-6 col-lg-3 d-flex align-self-stretch ftco-animate">
            <div class="media block-6 services active d-block">
              <div class="icon"><span class="flaticon-polish"></span></div>
              <div class="media-body">
                <h3 class="heading mb-3">Nails</h3>
                <p>A small river named Duden flows by their place and supplies.</p>
              </div>
            </div>      
          </div>
          <div class="col-md-6 col-lg-3 d-flex align-self-stretch ftco-animate">
            <div class="media block-6 services d-block">
              <div class="icon"><span class="flaticon-facial-treatment"></span></div>
              <div class="media-body">
                <h3 class="heading mb-3">Body Treatment</h3>
                <p>A small river named Duden flows by their place and supplies.</p>
              </div>
            </div>      
          </div>
        </div>
      </div>
    </section>

    <section class="ftco-section ftco-services">
    	<div class="container">
    		<div class="row">
    			<div class="col-md-6 pr-md-4">
    				<div class="heading-section pr-5 pb-5 ftco-animate">
    					<h1 class="big">Services</h1>
	          	<span class="subheading">Explore Our Services</span>
	            <h2 class="mb-4 mt-3">The beauty is not luxurious imagination</h2>
	            <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia</p>
	          </div>
	          <div class="services-wrap ftco-animate mb-5">
	          	<a href="#" class="img d-flex align-items-end" style="background-image: url('{% static 'images/services-1.jpg' %}')">
	          		<div class="number">
	          			<h3>01</h3>
	          		</div>
	          	</a>
	          	<div class="d-flex justify-content-end">
		          	<div class="text d-flex align-items-center">
		          		<div>
			          		<h3><a href="#">Manicure &amp; Pedicure</a></h3>
		          		</div>
		          		<div class="btn-custom text-center align-self-stretch d-flex align-items-center">
			          		<a href="#">Explore <span class="ion-ios-arrow-forward"></span></a>
		          		</div>
		          	</div>
	          	</div>
	          </div>
	          <div class="services-wrap ftco-animate mt-3">
	          	<a href="#" class="img d-flex align-items-end" style="background-image: url('{% static 'images/services-2.jpg' %}')">
	          		<div class="number">
	          			<h3>02</h3>
	          		</div>
	          	</a>
	          	<div class="d-flex justify-content-end">
		          	<div class="text d-flex align-items-center">
		          		<div>
			          		<h3><a href="#">Haircut &amp; Coloring</a></h3>
		          		</div>
		          		<div class="btn-custom text-center align-self-stretch d-flex align-items-center">
			          		<a href="#">Explore <span class="ion-ios-arrow-forward"></span></a>
		          		</div>
		          	</div>
	          	</div>
	          </div>
    			</div>
    			<div class="col-md-6 pl-md-4">
    				<div class="services-wrap ftco-animate mb-5">
	          	<a href="#" class="img d-flex align-items-end" style="background-image: url('{% static 'images/services-3.jpg' %}')">
	          		<div class="number">
	          			<h3>03</h3>
	          		</div>
	          	</a>
	          	<div class="d-flex justify-content-end">
		          	<div class="text d-flex align-items-center">
		          		<div>
			          		<h3><a href="#">Professional Makeup</a></h3>
		          		</div>
		          		<div class="btn-custom text-center align-self-stretch d-flex align-items-center">
			          		<a href="#">Explore <span class="ion-ios-arrow-forward"></span></a>
		          		</div>
		          	</div>
	          	</div>
	          </div>
	          <div class="services-wrap ftco-animate mt-3">
	          	<a href="#" class="img d-flex align-items-end" style="background-image: url('{% static 'images/services-4.jpg' %}')">
	          		<div class="number">
	          			<h3>04</h3>
	          		</div>
	          	</a>
	          	<div class="d-flex justify-content-end">
		          	<div class="text d-flex align-items-center">
		          		<div>
			          		<h3><a href="#">Body Spa</a></h3>
		          		</div>
		          		<div class="btn-custom text-center align-self-stretch d-flex align-items-center">
			          		<a href="#">Explore <span class="ion-ios-arrow-forward"></span></a>
		          		</div>
		          	</div>
	          	</div>
	          </div>
    			</div>
    		</div>
    	</div>
    </section>

    <section class="ftco-section ftco-no-pt ftco-booking">
    	<div class="container-fluid px-0">
    		<div class="row no-gutters d-md-flex justify-content-end">
    			<div class="one-forth d-flex align-items-end">
    				<div class="text">
    					<div class="overlay"></div>
    					<div class="appointment-wrap">
    						<span class="subheading">Reservation</span>
								<h3 class="mb-2">Make an Appointment</h3>
		    				<form action="#" class="appointment-form">
			            <div class="row">
			              <div class="col-sm-12">
			                <div class="form-group">
					              <input type="text" class="form-control" id="appointment_name" placeholder="Name">
					            </div>
			              </div>
			              <div class="col-sm-12">
			                <div class="form-group">
					              <input type="text" class="form-control" id="appointment_email" placeholder="Email">
					            </div>
			              </div>
				            <div class="col-sm-12">
			                <div class="form-group">
					              <div class="select-wrap">
		                      <div class="icon"><span class="ion-ios-arrow-down"></span></div>
		                      <select name="" id="" class="form-control">
		                      	<option value="">Professional Makeup</option>
		                        <option value="">Manicure Pedicure</option>
		                        <option value="">Body Treatment</option>
		                        <option value="">Haircut Coloring</option>
		                      </select>
		                    </div>
					            </div>
			              </div>
			              <div class="col-sm-12">
			                <div class="form-group">
			                  <input type="text" class="form-control appointment_date" placeholder="Date">
			                </div>    
			              </div>
			              <div class="col-sm-12">
			                <div class="form-group">
			                  <input type="text" class="form-control appointment_time" placeholder="Time">
			                </div>
			              </div>
			              <div class="col-sm-12">
			                <div class="form-group">
			                  <input type="text" class="form-control" id="phone" placeholder="Phone">
			                </div>
			              </div>
				          </div>
				          <div class="form-group">
			              <input type="submit" value="Make an Appointment" class="btn btn-primary">
			            </div>
			          </form>
		          </div>
						</div>
    			</div>
					<div class="one-third">
						<div class="img" style="background-image: url('{% static 'images/bg-1.jpg' %}')">
						</div>
					</div>
    		</div>
    	</div>
    </section>

    <section class="ftco-section ftco-pricing">
			<div class="container">
				<div class="row justify-content-center pb-3">
          <div class="col-md-10 heading-section text-center ftco-animate">
          	<h1 class="big">Pricing</h1>
          	<span class="subheading">Pricing</span>
            <h2 class="mb-4">Our Prices</h2>
            <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia</p>
          </div>
        </div>
        <div class="row">
        	<div class="col-md-3 ftco-animate">
        		<div class="pricing-entry pb-5 text-center">
        			<div>
	        			<h3 class="mb-4">Hair Style</h3>
	        			<p><span class="price">$50.00</span> <span class="per">/ session</span></p>
	        		</div>
        			<ul>
        				<li>Hair Dryer</li>
								<li>Hair Coloring</li>
								<li>Hair Cut</li>
								<li>Hair Dresser</li>
								<li>Hair Spa</li>
        			</ul>
        			<p class="button text-center"><a href="#" class="btn btn-primary px-4 py-3">Get Offer</a></p>
        		</div>
        	</div>
        	<div class="col-md-3 ftco-animate">
        		<div class="pricing-entry pb-5 text-center">
        			<div>
	        			<h3 class="mb-4">Manicure Pedicure</h3>
	        			<p><span class="price">$34.50</span> <span class="per">/ session</span></p>
	        		</div>
        			<ul>
        				<li>Manicure</li>
								<li>Pedicure</li>
								<li>Coloring</li>
								<li>Nails</li>
								<li>Nail Cut</li>
        			</ul>
        			<p class="button text-center"><a href="#" class="btn btn-primary px-4 py-3">Get Offer</a></p>
        		</div>
        	</div>
        	<div class="col-md-3 ftco-animate">
        		<div class="pricing-entry active pb-5 text-center">
        			<div>
	        			<h3 class="mb-4">Makeup</h3>
	        			<p><span class="price">$54.50</span> <span class="per">/ session</span></p>
	        		</div>
        			<ul>
        				<li>Makeup</li>
								<li>Professional Makeup</li>
								<li>Blush On</li>
								<li>Facial Massage</li>
								<li>Facial Spa</li>
        			</ul>
        			<p class="button text-center"><a href="#" class="btn btn-primary px-4 py-3">Get Offer</a></p>
        		</div>
        	</div>
        	<div class="col-md-3 ftco-animate">
        		<div class="pricing-entry pb-5 text-center">
        			<div>
	        			<h3 class="mb-4">Body Treatment</h3>
	        			<p><span class="price">$89.50</span> <span class="per">/ session</span></p>
	        		</div>
        			<ul>
        				<li>Massage</li>
								<li>Spa</li>
								<li>Foot Spa</li>
								<li>Body Spa</li>
								<li>Relaxing</li>
        			</ul>
        			<p class="button text-center"><a href="#" class="btn btn-primary px-4 py-3">Get Offer</a></p>
        		</div>
        	</div>
        </div>
			</div>
		</section>
{%endblock content %}